
/* CSS Document */
body{
	font-family:"cambria";  
	}

.carousel-control.left, .carousel-control.right {
   background-image:none !important;
   filter:none !important;
}
.navbar-default {
    background:#ffffff;
    border: none; border-bottom:none;
    border-radius: 0; margin-bottom:0;
	-webkit-box-shadow: inset 0px -10px 10px -6px #ffffff;
-moz-box-shadow: inset 0px -10px 10px -6px #ffffff;
box-shadow: inset 0px -10px 10px -6px #ffffff; padding-top:3px; padding-bottom:3px;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #ffffff;
}

.navbar-default .navbar-nav > li > a {
    color: #2b2728; font-size:16px; text-transform:uppercase; 
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    background-color: #ffffff; color:#98281f;
	-webkit-box-shadow: inset 0px -10px 10px -6px #ffffff;
-moz-box-shadow: inset 0px -10px 10px -6px #ffffff;
box-shadow: inset 0px -10px 10px -6px #ffffff;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #98281f; background-color: #ffffff;
	-webkit-box-shadow: inset 0px -10px 10px -6px #ffffff;
-moz-box-shadow: inset 0px -10px 10px -6px #ffffff;
box-shadow: inset 0px -10px 10px -6px #ffffff;
}

.navbar-default .navbar-text {
    color: #222;
}

.navbar-default .navbar-toggle {
    border-color: #7d130a; background-color: #98281f; 
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #000000;  border-color: #040708;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}
/*sssssssssssssssssssssssssss */


.call{padding-top:40px; padding-bottom:10px;}
.call2{padding-top:10px; padding-bottom:3px;}
.logo{margin-top:10px; margin-bottom:10px; max-width:300px; }
.yb{background:#ffffff; padding-top:6px; padding-bottom:6px; border-top:#FFF solid 1px;}
.topbg{background:#1c8b98;  padding-bottom:0px; padding-top:0px; font-size:14px;}
.con_txt{width:100%; margin-bottom:4px; margin-top:6px; padding:6px; border:#c1c1c1 solid 1px; border-radius:2px; font-size:14px; color:#19507c; background:#ffffff;}
.con_txt2{width:100%; margin-bottom:3px; padding-top:6px; padding-bottom:6px; border:#c1c1c1 solid 1px; border-radius:2px; font-size:14px;  background:#ffffff;}
.wellbg{background:#ffffff; border-color:#c2c2c2;}
.wellbg2{background:#f9f6f0; border-color:#e0dcd5; padding-top:25px; padding-bottom:10px; border-radius:6px;}
.mtb{margin-top:30px; margin-bottom:30px;}
.mtb2{margin-top:20px; margin-bottom:20px;}
.mb{margin-bottom:25px;}
.mb2{margin-bottom:8px;}
.mbs{margin-bottom:10px;}
.imageleft{width:18%; height:auto; float:left; margin-right:10px; margin-bottom:5px; float:left;}
.ybg{background:#f7d708;  border-bottom:#ffffff solid 1px;}
.abg{background:#efefef; padding-top:15px; padding-bottom:15px;}
.abg2{background:#efefef; padding-top:0px; padding-bottom:0px;}
.bgm{background:#ececec; padding-top:30px; padding-bottom:30px;}
.mt{margin-top:25px;}
.mt2{margin-top:15px;}
.mt4{margin-top:80px;}
.ptb{padding-top:30px; padding-bottom:30px;}
.pt{padding-top:10px;}
.pb{padding-bottom:45px;}
.ptb2{padding-bottom:20px; padding-top:5px; margin-bottom:15px; border-bottom:#e2e2e2 solid 1px;}
.bga{background:#f7f7f7; padding-top:35px; padding-bottom:35px; margin-top:30px;}
.bgl{margin-left:-90px;}
.bgo2{background:#895234;}
.bgo3{background:#f36d0e; padding-top:35px; margin-top:25px; margin-bottom:60px;}
.imgr{ margin-bottom:-30px; background:#FFF; padding:5px; -webkit-box-shadow: 0px 10px 13px -5px rgba(148,148,148,1);
-moz-box-shadow: 0px 10px 13px -5px rgba(148,148,148,1);
box-shadow: 0px 10px 13px -5px rgba(148,148,148,1);}
.imgr2{ margin-bottom:15px; background:#FFF; padding:5px; -webkit-box-shadow: 0px 10px 13px -5px rgba(148,148,148,1);
-moz-box-shadow: 0px 10px 13px -5px rgba(148,148,148,1);
box-shadow: 0px 10px 13px -5px rgba(148,148,148,1); margin-right:35px;}
.bg-image {background:#bd9500; padding-top:50px; padding-bottom:40px;}
.sbga2{background:#ffffff; margin-bottom:5px; margin-top:5px;}
.nmd{margin-bottom:0; background:#CCC; border-color:#CCC;}
.plr{padding-left:3px; padding-right:3px; margin-top:3px; margin-bottom:3px;}
.plr2{padding-right:10px; padding-left:10px;}
.plr3{padding-right:10px; padding-left:10px;}
.nmd{margin-bottom:10px; background:#f7f7f7; border-color:#d8d8d8;}
.nmd:hover{background:#fff9d4; border-color:#e9e1ad;}
.bbg{background:#c3c3c3 url(../images/bg.jpg) repeat center top fixed; padding-bottom:40px; padding-top:40px;}
.bbg2{background:#090909 url(../images/bg2.jpg) repeat center top fixed; padding-top:40px; padding-bottom:40px;}
.wbg{background:#FFF; border-color:#999;min-height:400px;}
.wbg p {
	text-align: justify;
	
}
.fldbg{background:#cfd7e4 url(../images/feldspar-bg.jpg) repeat center top fixed; padding-top:40px; padding-bottom:40px;}
.brtb{border-bottom:#a1d503 solid 1px; border-top:#a1d503 solid 1px; margin-top:15px; margin-bottom:15px; padding-top:15px; padding-bottom:20px;}
.bg1{background:#222222; border-color:#434343;}
.bg1:hover{background:#1a1a1a;}
.ht{height:300px; overflow:hidden;}
.hr {
height: 1px;
color: #b4b4b4;
background-color: #b4b4b4;
border: none;
}
h1, h2, h3, h4, h5, h6{
    
    font-weight: 600; margin:10px 0 10px 0;
}
p{margin:10px 0px 10px 0px; font-family:"cambria"; color: #3a3a3c; font-size: 17px;
    font-weight: 300; letter-spacing: 0.3px; line-height: 1.3;}
	* {
    margin: 0; 
	padding: 0;
}
.accordian {
	width: 100%; height: 420px;
	overflow: hidden;
	
	/*Time for some styling*/
	margin:10px auto;
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
}

/*A small hack to prevent flickering on some browsers*/
.accordian ul {
	width: 2000px;
	/*This will give ample space to the last item to move
	instead of falling down/flickering during hovers.*/
}

.accordian li {
	position: relative;
	display: block;
	width: 190px;
	float: left;
	
	border-left: 1px solid #FFFFFF;
	
	box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
	
	/*Transitions to give animation effect*/
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	/*If you hover on the images now you should be able to 
	see the basic accordian*/
}

/*Reduce with of un-hovered elements*/
.accordian ul:hover li {width: 40px;}
/*Lets apply hover effects now*/
/*The LI hover style should override the UL hover style*/
.accordian ul li:hover {width: 1140px;}


.accordian li img {
	display: block;
}

/*Image title styles*/
.image_title {
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	left: 0; bottom: 0;	
	width: 1000px;	

}
.image_title a {
	display: block;
	color: #fff;
	text-decoration: none;
	padding: 20px;
	font-size: 16px;
}

		.item{
			left: 0;
			top: 0;
			position: relative;
			overflow: hidden;
			margin-top:5px; border-radius:10px; border:#202020 solid 1px;
			
		}
		.item img{
			-webkit-transition: 0.6s ease;
  			transition: 0.6s ease; border-radius:10px; 
  			
		}
		.item img:hover{
			-webkit-transform: scale(1.2);
  			transform: scale(1.2);

		}
		


#backToTop{
    position: fixed;
	bottom: 10px;
	right: 10px;
	cursor: pointer;
	display: none;
    color: #fff;
    background: rgba(0,0,0,0.3);
    border: none;
}
.formwidth{width:35px; border:#CCC solid 1px;}
.tmrg{margin:-205px auto 0 auto; position:relative; z-index:0;}
.footerbg2{background:#1b1b1b; border-bottom:#654930 solid 1px; border-top:#654930 solid 1px; padding-top:10px; padding-bottom:10px; color:#FFF;}
.footerbg{background:#1b1b1b;}
.footermenu{list-style-image:url(../images/arrow.png);}
.footermenu2{color:#ffffff; text-decoration:none; line-height:20px; font-size:16px;}
.footermenu2:hover{color:#eabf79; text-decoration:none;}
.submenu{color:#0096f5; text-decoration:none; line-height:20px; padding-left:8px; padding-right:8px;}
.submenu:hover{color:#ce0000; text-decoration:none;}
.submenu2{color:#000000; text-decoration:none; line-height:20px;  padding-left:8px; padding-right:8px;}
.submenu2:hover{color:#ce0000; text-decoration:none;}
.readmore{color:#ffffff;}
.readmore:hover{color:#ffa200;}
.readmore2{color:#3a3a3c; text-decoration:none;}
.readmore2:hover{color:#273896; text-decoration:none;}

.readmore3{color:#ffae00;}
.readmore3:hover{color:#fff600;}
.more{background:#a3481b; color:#FFF; text-decoration:none; padding-left:5px; padding-right:5px; cursor:pointer;}
.more:hover{background:#313131; text-decoration:none; color:#FFF;}
.viewmore{background:#2b270c; padding-left:5px; padding-right:5px; margin-top:20px; text-align:center; color:#eabf79; }
.viewmore:hover{background:#a3481b; color:#FFF; text-decoration:none;}
.viewmore2{background:#f8c301; padding-left:5px; padding-right:5px; margin-top:20px; text-align:center; color:#000; }
.viewmore2:hover{background:#000; color:#FFF; text-decoration:none;}
.brbtm{border-bottom:#e6e6e6 solid 1px; margin-bottom:5px;}
.brbtm2{border-bottom:#2d2d2d solid 1px; margin-bottom:10px; padding-bottom:20px; padding-top:20px;}
.brtp2{border-top:#2d2d2d solid 1px; margin-top:10px; padding-bottom:20px; padding-top:20px;}
.brlr{border-left:#d2d2d2 solid 1px; }
.imgg{-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
.imgg:hover{-webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
}

.clrw{color:#FFF;}
.clry{color:#feeb51;}
.clrb{color:#040708;}
.clrbr{color:#c87533;}
.clro{color:#eeba4c;}
.clro2{color:#c09c23;}
.clro3{color:#f8c301;}
.clrr{color:#98281f;}
.clrbl{color:#273896;}
.clrbl2{color:#a9ddd9;}
.clrg{color:#6bb113;}
.clra{color:#ababab;}
.clrm{color:#222222;}
.social-icons-ql li{
	   list-style:none;
	   float:left;
	   width:40px;
	   height:40px;
	   line-height:45px;
	   background:#000;
	   text-align:center;
	   margin:10px 5px;
   }
  
   .social-icons-ql li:nth-child(1){
	   width:40px;
	   height:40px;
	   line-height:57px;	   
	   margin:10px 5px;
	   background:#34558E;
   }
   
   .social-icons-ql li:nth-child(1) i{
	   font-size:25px;
	   
   }
  .social-icons-ql li:nth-child(2) {
   background:#25B8E6;#0198DE
}

.social-icons-ql li:nth-child(3) {
   background:rgba(0, 122, 181, 1);
}
.social-icons-ql li:nth-child(4) {
   background:#DC4A38;
}
.social-icons-ql li:nth-child(5) {
   background:#CC2028;
}

.social-icons-ql li:nth-child(6) {
   background:#E05929;
}
.social-icons-ql li:nth-child(7) {
   background:#EB4924;
}

   
   
   .social-icons-ql li i{
	   color:#fff;
	   font-size:20px;
   }

/*product-list-hover-slide-effect*/
.product-list-left-effect
{
	width:100%;
	height:auto;
	position:relative;
	margin-bottom:20px;	
	overflow:hidden;
}

.product-list-left-effect img
{
	transition-duration:0.4s;
}

.product-list-left-effect .product-overlay
{
	width:90%;
	height:90%;
	position:absolute;
	padding:20px;
	background:rgba(0, 0, 0, 0.5);
	color:#fff;
	top:5%;
	left:-100%;
	
	transition-duration:0.4s;
	-webkit-transition: left 0.5s ease-in-out;
}

.product-list-left-effect .product-overlay h3
{
	margin:0 0 12px 0;
}

.product-list-left-effect:hover .product-overlay
{
	/*opacity:1;*/
	-webkit-transition: left 0.5s ease-in-out;
	left:5%;
}

.product-list-left-effect:hover img
{
	 transform: scale(1.1);
}
/*product-list-hover-slide-effect*/


/*theme-heading*/
.theme-heading
{
	text-align:center;
	margin-bottom:2rem;
	font-weight:300;
}

.brdr{border:#CCC solid 1px;}
.netbg{background:#009cf5; padding-top:20px; padding-bottom:20px; border-bottom:#86d3ff solid 1px; margin-top:20px;}
.navbg2{background:none; border:none; border-radius:0; width:100%;  height: 270px; margin-bottom:20px;  overflow-y: scroll;  overflow-x: hidden; 

 }
.navbg3{background:none; border:none; border-radius:0; width:100%;  height: 400px; margin-bottom:20px; overflow-y: scroll;  overflow-x: hidden; }


.nav-list li{border-bottom:#018cdc dashed 1px; font-size:16px; color:#353535; background:url(../images/arrow2.png) no-repeat left;}
.nav-list li a{color:#ffffff;  padding-top:4px; padding-bottom:4px; line-height:19px; }
.nav-list li a:hover{color:#000000; background:url(../images/arrow3.png) no-repeat left #19abff;}

.brtop{border-top:#07349f solid 1px; padding-top:20px; padding-bottom:20px; margin-top:10px;
}

#imagelightbox

{

    position: fixed;

    z-index: 9999;

 

    -ms-touch-action: none;

    touch-action: none;

}
.mtb3{margin-top:10px; margin-bottom:10px;}

.jumbotron{display:block; margin-bottom:0; border-radius:0; background:#d8d8d8 url(../images/aboutbg.jpg) no-repeat center center  fixed; background-size:cover;  padding-top:10px; padding-bottom:10px;  }
.jumbotron h1{ color:#a3481b; font-size:35px;}
.jumbotron p {font-size:20px; color:#2b270c;}
.nobr{border:none; padding:5px;}
.aro{font-size:13px; color:#01a3df;}
.thumbnail {
    position: relative;
    padding: 0px;
    margin-bottom: 20px;
	border:none;
}

.thumbnail img {
    width: 100%;
	border-radius: 10px;
    border: #202020 solid 1px;
}


@media (max-width: 768px)  { 
.tmrg{margin:0px auto 20px auto;}
.call{padding-top:10px; padding-bottom:10px;}
.call2{padding-top:12px; padding-bottom:12px;}
.logo{margin-top:20px; margin-bottom:20px; max-width:450px; }
.bgl{margin-left:0px;}
.ht{height:auto; overflow:hidden;}

.wbg2{background:rgb(255,255,255,1); position:relative; z-index:10;}
 .lorry{background:none;}
.mt4{margin-top:25px;}
.navbar-brand{margin-bottom:0px;}
.navbg2{ border-radius:0; width:100%;  height: auto;  overflow-y: hidden;  overflow-x: hidden; }
.navbg3{background:#a0e8ff; border:#7cd0ec solid 1px; border-radius:0; width:100%;  height: 250px;  overflow-y: hidden;  overflow-x: hidden; }


}

